# --- Database Credentials ---
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=

# --- Databases for each layer ---
PG_DB_BRONZE=
PG_DB_SILVER=
PG_DB_GOLD=

# Telegram
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_CHANNEL_ID=-1002636168605     # CVE Monitor (change if you want)

TIMEZONE=Africa/Casablanca
CATCHUP_DAYS_AGO=1                 

DETAIL_DELAY_SEC=1.2


TARGET_YEARS=

